$hello: yellowgreen;
$primary: maroon;
$secondary: #33322F;
$font-size: 24px;
$border-color: purple;
$border-style: dotted;
$border-width: 2px;
$border: $border-color $border-width $border-style;
$my-flex: row;
